@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 5 3% 100%;
  --foreground: 5 3% 10%;
  --card: 5 3% 100%;
  --card-foreground: 5 3% 15%;
  --popover: 5 3% 100%;
  --popover-foreground: 5 95% 10%;
  --primary: 5 100% 69%;
  --primary-foreground: 0 0% 0%;
  --secondary: 5 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -33 10% 95%;
  --muted-foreground: 5 3% 40%;
  --accent: -33 10% 90%;
  --accent-foreground: 5 3% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 5 3% 100%;
  --border: 5 20% 82%;
  --input: 5 20% 50%;
  --ring: 5 100% 69%;
  --radius: 0.75rem;
}
.dark {
  --background: 5 10% 10%;
  --foreground: 5 3% 100%;
  --card: 5 3% 10%;
  --card-foreground: 5 3% 100%;
  --popover: 5 10% 5%;
  --popover-foreground: 5 3% 100%;
  --primary: 5 100% 69%;
  --primary-foreground: 0 0% 0%;
  --secondary: 5 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -33 10% 25%;
  --muted-foreground: 5 3% 65%;
  --accent: -33 10% 25%;
  --accent-foreground: 5 3% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 5 3% 100%;
  --border: 5 20% 50%;
  --input: 5 20% 50%;
  --ring: 5 100% 69%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
